body{
    background-image: url("/img/gif_background.gif");
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover;

    
   
   
    text-align: center;
    text-decoration: none;
    font-family:monospace;
    font-weight: 300;
    font-style: normal;
    padding: 10px; 
    color: rgb(197, 20, 220);
   

}